<?xml version="1.0" encoding="utf-8"?>

<robot name="twin_lidar_robot">
	<!-- Main body-->
	<link name="base_link">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="2.0 4.0 .5"/>
			</geometry>
		</collision>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="1.0 2.0 .5"/>
			</geometry>
			<material name="red"/>
		</visual>

		<inertial>
			<mass value="5.0" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
		</inertial>
	</link>

	<!-- First lidar -->
	<link name="lidar_1">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value=".000001" />
			<inertia
			ixx="0.00598133477437682"
			ixy="8.04804660631611E-10"
			ixz="-1.37907950166563E-12"
			iyy="0.00598133797963134"
			iyz="-1.53294491952911E-11"
			izz="0.0109596153406548" />
		</inertial>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
			<cylinder radius="0.05" length="0.1"/>
			</geometry>
			<material name="white" />
		</visual>

		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<cylinder radius="0.05" length="0.1"/>
			</geometry>
		</collision>
	</link>

	<!-- Joint to attach the lidar to the drivetrain -->
	<joint name="lidar_1_joint" type="fixed">
		<origin xyz=".4 .75 0.3" rpy="0 0.0 1.57"/>
		<parent link="base_link"/>
		<child link="lidar_1"/>
	</joint>

	<!-- Gazebo plugin for the lidar -->
	<gazebo reference="lidar_1">
		<sensor type="ray" name="lidar_1_sensor">
		<pose>0 0 0 0 0 0</pose>
		<visualize>true</visualize>
		<update_rate>20</update_rate>
		<ray>
			<scan>
			<horizontal>
				<samples>720</samples>
				<resolution>1</resolution>
				<!-- <min_angle>-1.570796</min_angle>
				<max_angle>1.570796</max_angle> -->
				<min_angle>-.4363</min_angle>
				<max_angle>.4363</max_angle>
			</horizontal>
			</scan>
			<range>
			<min>0.10</min>
			<max>6.0</max>
			<resolution>0.01</resolution>
			</range>
			<noise>
			<type>gaussian</type>
			<mean>0.0</mean>
			<stddev>0.01</stddev>
			</noise>
		</ray>
		<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
			<topicName>/lidar_1/laser_scan</topicName>
			<frameName>lidar_1</frameName>
		</plugin>
		</sensor>
	</gazebo>

	<!-- Second lidar -->
	<link name="lidar_2">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value=".000001" />
			<inertia
			ixx="0.00598133477437682"
			ixy="8.04804660631611E-10"
			ixz="-1.37907950166563E-12"
			iyy="0.00598133797963134"
			iyz="-1.53294491952911E-11"
			izz="0.0109596153406548" />
		</inertial>

		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
			<cylinder radius="0.05" length="0.1"/>
			</geometry>
			<material name="white" />
		</visual>

		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
			<cylinder radius="0.05" length="0.1"/>
			</geometry>
		</collision>
	</link>

	<!-- Joint to attach the lidar to the drivetrain -->
	<joint name="lidar_2_joint" type="fixed">
		<origin xyz="-.4 .75 0.3" rpy="0 0.0 1.57"/>
		<parent link="base_link"/>
		<child link="lidar_2"/>
	</joint>

	<!-- Gazebo plugin for the lidar -->
	<gazebo reference="lidar_2">
		<sensor type="ray" name="lidar_2_sensor">
		<pose>0 0 0 0 0 0</pose>
		<visualize>true</visualize>
		<update_rate>20</update_rate>
		<ray>
			<scan>
			<horizontal>
				<samples>720</samples>
				<resolution>1</resolution>
				<!-- <min_angle>-1.570796</min_angle>
				<max_angle>1.570796</max_angle> -->
				<min_angle>-.4363</min_angle>
				<max_angle>.4363</max_angle>
			</horizontal>
			</scan>
			<range>
			<min>0.10</min>
			<max>6.0</max>
			<resolution>0.01</resolution>
			</range>
			<noise>
			<type>gaussian</type>
			<mean>0.0</mean>
			<stddev>0.01</stddev>
			</noise>
		</ray>
		<plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
			<topicName>/lidar_2/laser_scan</topicName>
			<frameName>lidar_2</frameName>
		</plugin>
		</sensor>
	</gazebo>
</robot>