<launch>
  
  <arg name="model" default="$(find lidar_fusion_robot)/urdf/twin_velodyne.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -x 0 -y 0 -z 0.0 -R 0 -P 0 -Y 0 -param /robot_description -model twin_velodyne"
    output="screen" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find lidar_fusion_robot)/rviz/basic_setup.rviz" />

  <node type="point_cloud2_assembler" pkg="laser_assembler"
        name="my_assembler">
    <remap from="cloud" to="combined_cloud"/>
    <param name="max_clouds" type="int" value="2" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>

  <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->
</launch>